<!doctype html>
<html>
<body>
	<h1> Join Our Team </h1>
<div class="container">
  <form action="action_page.php">

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name.."><br><br><br>

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name.."><br><br><br>

    <label for="city">City</label>
    <select id="city" name="city">
      <option value="mangalore">Mangalore</option>
      <option value="bangalore">Bangalore</option>
      <option value="belgaum">Belgaum</option>
       <option value="shivamogga">Shivamogga</option>
        <option value="gulbarga">Gulbarga</option>
         <option value="mysore">Mysore</option>
          <option value="udupi">Udupi</option>
    </select><br><br><br>

    <label for="subject">Address</label>
    <textarea id="subject" name="subject" placeholder="Type your full address" style="height:200px"></textarea><br><br><br>

    <input type="submit" value="Submit">

  </form>
</div>

</body>
</html>

    

