<html>
	<head>
		<link rel="stylesheet" href="style.css">
	<title>Shop</title>
	</head>
	<body>
	<h1>Shop by Category</h1>
	<div class = "row">
		<div class = "column">
			<div class="card">
				<img src="static\images\Cake10.jpg" alt="Avatar" style="width:25%; height:35%">
			  	<div class="container">
			  		<h4><b>Cakes By Flavour</b></h4>
				</div>
			</div>
		</div>

		<div class = "column">
			<div class="card">
				<img src="static\images\Cake4.jpg" alt="Avatar" style="width:25%; height:35%">
				<div class="container">
					<h4><b>Cakes By Theme</b></h4>
				</div>
			</div>
		</div>

		<div class = "column">
			<div class="card">
				<img src="static\images\Cake3.jpg" alt="Avatar" style="width:25%; height:35%">
			  	<div class="container">
			    	<h4><b>Cup Cakes</b></h4>
			  	</div>
			</div>
		</div>
	</div>

	<h1>Regular Cakes</h1>
	<div class = "row">
		<div class = "column">
			<div class="card">
			  	<img src="static\images\Cake2.jpg" alt="Avatar" style="width:25%; height:35%">
			  	<div class="container">
			    	<h4><b>Newly Arrived</b></h4>
			 	 </div>
			</div>
		</div>
	</div>

	</body>
</html>